body { font-family: web-font, fallback-fonts; }
strong { font-family: web-font-bold; }
em { font-family: web-font-italic; }

@font-face {
font-family: Museo_Slab_500;
src: url("/fonts/Museo_Slab_500.otf") format("opentype");
} 
@font-face {
font-family: Museo_300;
src: url("/fonts/Museo_300.otf") format("opentype");  
}  
@font-face {
font-family: Museo_500;
src: url("/fonts/Museo_500.otf") format("opentype");  
} 
@font-face {
font-family: Museo_700;
src: url("/fonts/Museo_700.otf") format("opentype");  
}


body{
  background-color:#e2e2e2;  
}

.ey_header {
  background-color:#ea083a; 
  height:280px;  
  width:1258px;
  overflow:hidden; 
}      

.ey_header img {  
  margin-top:40px;
  margin-left:20px;
  width:300px; 
  height:150px; 
}  

.ey_middle_bar { 
  height:200px;
  width:370px; 
  float:left;
  -moz-box-shadow: -2px 2px 2px #888;
  -webkit-box-shadow: -2px 2px 2px #888;
  box-shadow: -2px 2px 2px #888; 
  background: #e3e3e3; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMGQwZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #e3e3e3 0%, #d0d0d0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e3e3e3 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e3e3e3 0%,#d0d0d0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e3e3e3 0%,#d0d0d0 100%); /* IE10+ */
  background: linear-gradient(top,  #e3e3e3 0%,#d0d0d0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-8 */
  
}      

#pricing {
  font-family: Museo_700, Helvetica, Verdana, Sans-Serif; 
  font-size:22px; 
  padding-top:15px;
  padding-bottom:0px;
  text-align:center; 
  text-shadow: 0px 1px 1px #fff;
  filter: dropshadow(color=#fff, offx=0, offy=1);
}   

.free_deliv {
  font-family: Museo_300, Helvetica, Verdana, Sans-Serif;  
}

.order_now_button { 
  font-family: Sans-Serif;
  font-size:24px;
  padding-left:25px;
  padding-top:20px;
  padding-right:25px;
  margin-left: 65px; 
  text-align: center;
  width:200px;
  height:40px;
} 

#timer {
  text-align:center;
  font-size: 16px;
  margin-top:-5px;
  padding-bottom:5px;
}  

.menu_display {
  background-color: #fff;
  margin-top: -220px; 
  margin-left: 390px; 
  height:1230px; 
  width:770px; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position:relative;
  overflow:visible; 
}   

.menu_item_name {
  font-family: Museo_700, Helvetica, Verdana, Sans-Serif;  
}

.text_center {
  text-align:center;
}         

.add_on {
  font-family: Museo_500, Helvetica, Verdana, Sans-Serif;   
  font-size:12px;
}
 
#restaurant_details {
  width:380px;
  padding-left:25px;
  padding-top: 30px;
}    

#restaurant_details h1 {
  font-family: Museo_500, Helvetica, Verdana, Sans-Serif;   
  width:380px; 
  font-size:36px;
  margin-left:19px;
  margin-top: 20px;  
  line-height:100%; 
}  

.rating img {  
  margin-top: 5px;
  margin-left:22px;
} 

#restaurant_descrip { 
  font-family: Museo_300, Helvetica, Verdana, Sans-Serif;
  font-size:18px;
  width:380px;
  line-height:150%; 
  padding-bottom:25px;
  padding-left:25px;
  padding-top: 30px;  
}

#divider {
  border-bottom:2px solid #dcdcdc;    
  -webkit-box-shadow: 0px 1px 2px #fff;
  -moz-box-shadow: 0px 1px 2px #fff;
  box-shadow: 0px 2px 5px #fff;
} 

#steps {
  float:right; 
  margin: -70px -40px 0 0 ;
}

.testimonial {
  margin-top:20px;
  width:340px; 
} 

.testimonial h4 {  
  font-family: Museo_500, Helvetica, Verdana, Sans-Serif;
  font-color:#717171; 
  font-size:22px;
  text-align:center;
  padding-bottom: 20px; 
 /* padding:15px;*/
}   
   
.first_testi {
  background: #fff; 
  width: 270px;   
  height:340px; 
  margin-top: 25px;
  margin-left:35px; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; 
  -moz-box-shadow: 0px 2px 2px #aaa9a9;
  -webkit-box-shadow: 0px 2px 2px #aaa9a9;
  box-shadow: 0px 2px 2px #aaa9a9; 
}  

.first_testi p { 
  font-family: Museo_300, Helvetica, Verdana, Sans-Serif; 
  font-size: 16px; 
  padding: 30px; 
}  

#top_testi_quote img {
  float:left; 
  padding:5px;
}

#bottom_testi_quote img {
  float:right;   
  padding:5px;
  margin-top:-40px;
} 


.second_testi {
  background: #fff;   
  width: 270px;   
  height:300px;
  margin-top: 10px;
  margin-left:35px; 
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; 
  -moz-box-shadow: 0px 2px 2px #aaa9a9;
  -webkit-box-shadow: 0px 2px 2px #aaa9a9;
  box-shadow: 0px 2px 2px #aaa9a9;    
} 

.second_testi p { 
  font-family: Museo_300, Helvetica, Verdana, Sans-Serif; 
  font-size: 16px; 
  padding: 30px; 
}


.menu_choices h2 {
  font-family: Museo_500, Helvetica, Verdana, Sans-Serif;   
  margin: 15px 0 0 15px;
  padding-bottom:20px;
}  


.menu_choices ul {
  list-style:none;
  margin-left:40px;
}

.menu_choices li {   
  font-family: Museo_300, Helvetica, Verdana, Sans-Serif;
  font-color:#333333; 
  padding:10px; 
  border:1px solid #919191;
  width: 200px;
  height:710px;
  float: left;
  color: #333;
  margin: 0 20px 10px 0;    
  -moz-box-shadow: 0px 2px 2px #aaa9a9;
  -webkit-box-shadow: 0px 2px 2px #aaa9a9;
  box-shadow: 0px 2px 2px #aaa9a9;  
  background: #fbfbfb; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top, #fbfbfb 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}  

.bolded {
  font-family: Museo_700, Helvetica, Verdana, Sans-Serif;
}   

.top_menu_styling  {
    font-family: Museo_500, Helvetica, Verdana, Sans-Serif;  
}

.menu_choices .dish_title {  
  font-family: Museo_500, Helvetica, Verdana, Sans-Serif;
  font-size:16px;
  margin: 10px 0 10px 0px;
  
} 

.menu_choices .dish_image {
  margin:0 0 15px 0;   
} 

.menu_divider {
  border-bottom:2px solid #e1e1e1; 
  margin-bottom: 20px;
} 

.menu_choices .dish_description {  
  font-size:14px;
  width: 170px; 
  
}
