nav {
  float:right;
  position:relative;  
  z-index:100;
  margin-top:50px;
}
#site-desc-0NTGMF2G {
  text-align: left; 
  font-size: 14px;
}
#instructions-0NTGMF2G {
  font-style: italic;
}                

#invite-label-0NTGMF2G {
  font-size: 14px;
}   


#signup_response {
  display:none;
}
 
.display_share {
  display:block;
}                  

#social_media_message {
  width: 550px;
  height: 80px;
  padding: 10px;
  display: block;
  line-height: 1.5em;
  margin: 0 auto 15px;
  font-size: 135%
}
         
