
$("#signup_response").css("display", "block"); 
$("#signup_request").css("display", "none"); 
            
                                         
$("#msg").ajaxSuccess(function(evt, request, settings){
      $(this).append("<li>Successful Request!</li>");
      });               




<!-- $('body').html("<h1></%=j (#@user.email) %></h1>").append("</%=j (#@user.first_name) %/>");   -->  