$("#signup_response").css("display", "block"); 
$("#signup_request").css("display", "none"); 
            
                                         
$("#msg").ajaxSuccess(function(evt, request, settings){
      $(this).append("<li>Successful Request!</li>");
      });               
