<!DOCTYPE html>
<html>
<head>
  <title>LunchBox - Explore the vast food selection that New York City has to offer -- right from your desk.</title>   
	<%= stylesheet_link_tag "bootstrap", "bootstrap-responsive", "ey_landing" %>
  <%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
	<meta http-equiv="Content-type" value="text/html; charset=utf-8" />
	<meta name="title" content="" />
	<meta name="description" content="LunchBox is a weekly lunch subscription that is delivered to you at work, so you can continue to enjoy New York's finest foods all the time." /> 
	<meta property="og:title" content="LunchBox - " />
	<meta property="og:type" content="company" />
	<meta property="og:site_name" content="LunchBox" />
	<meta property="og:url" content="http://www.golunchbox.com" />
	<meta property="og:image" 	content="https://launchrock-assets.s3.amazonaws.com/facebook-files/jlGQLH1gQ1izzAf.png" />
	<meta property="og:description" content="I just signed up for an exclusive lunch delivery service called LunchBox. They curate the highest quality and unique lunches in the city and will deliver it to my desk!" /> 
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28399200-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head> 

<body> 
	
<div class="container">
	<!-- <div class="navbar"> -->
		<div class="ey_header">
			 	<img src="/images/ey_lb_temp_logo.png">
		</div>  
	<!-- </div> -->
		<div class="row">
			<div class="span4 ey_middle_bar">
				<div id="pricing">
					$14.99 (free delivery)
				</div>
				<div class="order_now_button btn btn-success btn-large">
					Order Now
				</div>
				<div id="timer">
					<p>Time Left to Buy:
						#Timer code goes here</p>
				</div>
 				<div class="row"> 
					<div class="span4 testimonial">
						<h4>Testimonials</hr>
							<ul class="thumbnails">
							  <li class="span3">
									<div class="first_testi">
									  <p>This place is a hidden gem and a welcome change to my usual and mundane weekday lunches at Cafe Manhattan.</p>
									</div>
								</li>
								<li class="span3"> 
									<div class="second_testi">
								 		<p>The sushi here is so fresh it’s incredible. The attention to detail put into each roll really made the dish special.</p>
									</div>
							  </li>
							</ul>
					</div>
				</div>
			</div>
			<div class="span8 menu_display">
				<div id="restaurant_details">
					<h1>Milk n' Honey</h1> 
					<div id="restaurant_descrip">
					A delicious restaurant right in the heart of midtown, it serves a delightful array of sushi, sandwiches, salads, soups and pastas.
					</div>
				</div>
				<div id="divider"></div> 
				<div class="menu_choices">
					<h2>Featured Menu:</h2>
						<ul> 
							<li> 
								<div class="dish_title">
									Sushi Platter
								</div>
								<div class="dish_image"> 
									<img src="http://placehold.it/160x120" alt="" >
								</div>
								<div class="dish_description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
								</div>
							</li>
							<li>
								<div class="dish_title">
									Soup & Sandwich
								</div>
								<div class="dish_image">
									<img src="http://placehold.it/160x120" alt="" >
								</div>
								<div class="dish_description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor 
								</div>
							</li>
							<li> 
								<div class="dish_title">
									Fresh Chopped Salad
								</div>
								<div class="dish_image">
									<img src="http://placehold.it/160x120" alt="" >
								</div>
								<div class="dish_description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor 
								</div>
							</li>
						</ul>
				</div>
			</div>
		</div>  
</div>	
	 
</body> 


</html>
	       
	
	
	<!--  -->
