<!DOCTYPE html>
<html>
<head>
  <title>LunchBox - Explore the vast food selection that New York City has to offer -- right from your desk.</title>   
	<%= stylesheet_link_tag "bootstrap", "bootstrap-responsive", "ey_landing", "jquery.countdown.css" %>
  <script src="javascripts/jquery.min.js"></script> 
	<script src="javascripts/jquery.countdown.js"></script>
	<%= csrf_meta_tag %>
	<meta http-equiv="Content-type" value="text/html; charset=utf-8" />
	<meta name="title" content="" />
	<meta name="description" content="LunchBox is a weekly lunch subscription that is delivered to you at work, so you can continue to enjoy New York's finest foods all the time." /> 
	<meta property="og:title" content="LunchBox - " />
	<meta property="og:type" content="company" />
	<meta property="og:site_name" content="LunchBox" />
	<meta property="og:url" content="http://www.golunchbox.com" />
	<meta property="og:image" 	content="https://launchrock-assets.s3.amazonaws.com/facebook-files/jlGQLH1gQ1izzAf.png" />
	<meta property="og:description" content="I just signed up for an exclusive lunch delivery service called LunchBox. They curate the highest quality and unique lunches in the city and will deliver it to my desk!" />  
	 <script>
	 $(document).ready(function(){    
	  $("#counter").countdown({until: new Date(2012, 5-1, 1, 18), format: 'dHMS'}); 
	 	}); 
		   
	 
		</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28399200-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>  
	
</head> 

<body> 
	<div class="ey_header">   
		<img src="/images/ey_lb_temp_logo.png">
	</div>   
	<div class="row">
		<div class="span4 ey_middle_bar">
			<div id="pricing">
				<span class="free_deliv">free delivery!</span>
			</div>  
			<br>
			<div class="order_now_button btn btn-success btn-large">
				<a href="http://golunchbox.wufoo.com/forms/order-your-lunchbox-now/#public" target="blank">ORDER NOW</a>
			</div>
			<div id="timer"> 
				<br> 
	 			Time left to buy: <div id="counter"></div>
			</div> 
		 
				<div class="row"> 
				<div class="span4 testimonial">
					<h4>Testimonials</hr>
						<ul class="thumbnails">
						  <li class="span3">
								<div class="first_testi">
									<div id="top_testi_quote">
										<img src="/images/beginning_quotes.png">
									</div>
								  <p>Read the other Yelp reviews for details. I'm just chiming in to say that this place is awesome. Yes the sandwiches are not cheap, but you will pay maybe a dollar less to get a really sub-par sandwich at any deli nearby. And these sandwiches are so big that either you will get 2 meals out of them if you are dainty or you will be completely full after eating the whole thing.- Craige M.</p>
									<div id="bottom_testi_quote">
										<img src="/images/end_quotes.png">
									</div>
								</div>
							</li>
							<li class="span3"> 
								<div class="second_testi">  
									<div id="top_testi_quote">
										<img src="/images/beginning_quotes.png">
									</div>
							 		<p>Just TRY finding someone else who will deliver a 	baguette, sicilian olives, sliced chorizo and soppressata, and three different types of cheese (cubed, well actually, more like "triangulated") to this neighborhood. And have it be AMAZING.<br><br> 

									So yes, this place is the beez kneez. - Aristea A.
									</p>
									<div id="bottom_testi_quote">
										<img src="/images/end_quotes.png">
									</div>
								</div>
						  </li>
						</ul>
				</div>
			</div>
		</div>
		<div class="span8 menu_display"> 
			<div id="steps">
				<img src="/images/steps.png" alt="" > 
			</div>
			<div id="restaurant_details">
				<h1>Sergimmo Salumeria</h1>
				<div class="rating">
					<a href="http://www.yelp.com/biz/sergimmo-salumeria-new-york" target="blank"><img src="/images/starsyelp.png" alt="" ></a>  
				</div> 
				<div id="restaurant_descrip">
					Try the fresh <span class="bolded">HOMEMADE mozzarella and cured meats</span> and you’ll understand– one bite and you’ll swear you just teleported to Italy. Each recipe has been finely crafted in Italian farmhouse kitchens and brought to back New York by Sergimmo himself. This food speaks for itself and so does its 4.5 star Yelp rating. 
				</div>
			</div>  
			<div id="divider"></div> 
			<div class="menu_choices">
				<h2>Featured Menu:</h2>
					<ul> 
						<li> 
							<div class="dish_title">
								 <span class="bolded">Marche Panini</span> | $12.99<br><br>
							</div>
							<div class="dish_image"> 
								<img src="/images/leftmenu.png" alt="" >
							</div> 
							<div class="add_on">Includes homemade rice ball</div>
							<div class="menu_divider"></div>
							<div class="dish_description">
								<span class="top_menu_styling">Thin-sliced salami • fresh homemade mozzarella • marinated artichokes • arugula • balsamic vinegar • Serggimmo’s extra virgin olive oil</span><br><br>
								This sandwich starts with a substantial but not overpowering layer of freshly sliced salami: well-spiced, porky, and studded with fennel seeds. The salami is topped with mozzarella— that's creamy, salty, homemade mozzarella— a batch of which is made every two hours. Next up is a layer of artichokes, which are marinated in an herb oil. A solid layer of arugula really ties the sandwich together and the greens provide a peppery, bitter bite.<br>  
							</div>
						</li>
						<li>
							<div class="dish_title text_center">
								<span class="menu_item_name">Massimo Il Grande<br>
								Panini</span> | $12.99
							</div>
							<div class="dish_image">
								<img src="/images/middlemenu.png" alt="" >
							</div>       
							<div class="add_on">Includes homemade rice ball</div>
							<div class="menu_divider"></div>
							<div class="dish_description">
								<span class="top_menu_styling">Grilled chicken • fresh homemade mozzarella • sundried tomatoes • arugula • balsamic vinegar • Serggimmo’s extra virgin olive oil</span><br><br>

								The Massimo Il Grande is even better than its regal name implies. The ingredients appear simple, but the flavors they produce are rich and complex. The chicken is  grilled to perfection, topped with Sergimmo’s creamy, salty mozzerella made fresh in batches every two hours.
								The sundried tomatoes provide a slightly sweet accent to the tang of balsamic vinegar, and the Massimo’s ingredients unite under the perfect amount of fresh, crunchy arugula. 

								
							</div>
						</li>
						<li> 
							<div class="dish_title text_center">
								<span class="menu_item_name">Salumi & <br>
								Formaggi</span> | $14.99
							</div>
							<div class="dish_image">
								<img src="/images/rightmenu.png" alt="" >
							</div>         
							<div class="add_on">Add a rice ball for $2.50</div>
							<div class="menu_divider"></div> 
							<div class="dish_description">
								<span class="bolded">Leave the Bread behind,
								create a Plate!</span><br>
								<i>Choice of any 4</i>:<br>
								<span class="bolded">SALUMI (meats)</span><br>
								Speck • Bresaola • Capicola • Prosciutto 
								Sorppressta • Mortadella
								Parma Cotto • Culatello • Chorizo • Rosemary Ham
								<span class="bolded">FORMAGGI (cheeses)</span><br>
								Brie • Asiago • Primo Sale • Manchego • Ricotta Salata 
								Fiori Di Sardegna • Fontina • Val D’aosta • Parmigiano Reggiano Moliterno • Gorgonzola<br><br>

								All plates are served with your choice of Serigmmo’s Extra Virgin Olive Oil, or Preserves of Fig

							</div>
						</li>
					</ul>
			</div>
		</div>
	</div>  
</body> 


</html>
	       
	
	
	<!--  -->
