<!DOCTYPE html>
<html>
<head>
  <title>LunchBox - Explore the vast food selection that New York City has to offer -- right from your desk.</title>   
	<%= stylesheet_link_tag "bootstrap", "bootstrap-responsive", "ey_landing" %>
  <%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
	<meta http-equiv="Content-type" value="text/html; charset=utf-8" />
	<meta name="title" content="" />
	<meta name="description" content="LunchBox is a weekly lunch subscription that is delivered to you at work, so you can continue to enjoy New York's finest foods all the time." /> 
	<meta property="og:title" content="LunchBox - " />
	<meta property="og:type" content="company" />
	<meta property="og:site_name" content="LunchBox" />
	<meta property="og:url" content="http://www.golunchbox.com" />
	<meta property="og:image" 	content="https://launchrock-assets.s3.amazonaws.com/facebook-files/jlGQLH1gQ1izzAf.png" />
	<meta property="og:description" content="I just signed up for an exclusive lunch delivery service called LunchBox. They curate the highest quality and unique lunches in the city and will deliver it to my desk!" /> 
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28399200-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head> 

<body> 
	<div class="ey_header">   
		<img src="/images/lunchboxlogo_new.png">
	</div>   
	<div class="row">
		<div class="span4 ey_middle_bar">
			<div id="pricing">
				$14.99 <span class="free_deliv">(free delivery)</span>
			</div>  
			<br>
			<div class="order_now_button btn btn-success btn-large">
				<a href="http://golunchbox.wufoo.com/forms/order-your-lunchbox-now/#public" target="blank">ORDER NOW</a>
			</div>
			<div id="timer"> 
				<br>
				<!-- <p>Time Left to Buy:
										#Timer code goes here</p>   -->
			</div>
				<div class="row"> 
				<div class="span4 testimonial">
					<h4>Testimonials</hr>
						<ul class="thumbnails">
						  <li class="span3">
								<div class="first_testi">
									<div id="top_testi_quote">
										<img src="/images/beginning_quotes.png">
									</div>
								  <p>This place is a hidden gem and a welcome change to my usual and mundane weekday lunches at Cafe Manhattan. - Arnab M.</p>
									<div id="bottom_testi_quote">
										<img src="/images/end_quotes.png">
									</div>
								</div>
							</li>
							<li class="span3"> 
								<div class="second_testi">  
									<div id="top_testi_quote">
										<img src="/images/beginning_quotes.png">
									</div>
							 		<p>The sushi here is so fresh it’s incredible. The attention to detail put into each roll really made the dish special. - Danielle G.</p>
									<div id="bottom_testi_quote">
										<img src="/images/end_quotes.png">
									</div>
								</div>
						  </li>
						</ul>
				</div>
			</div>
		</div>
		<div class="span8 menu_display"> 
			<div id="steps">
				<img src="/images/steps.png" alt="" > 
			</div>
			<div id="restaurant_details">
				<h1>Milk n' Honey</h1> 
				<div id="restaurant_descrip">
					A delicious little breakfast & lunch spot right in the heart of Midtown, serving a delightful array of sushi, sandwiches, salads, soups and pastas. Milk n’ Honey provides amazing, healthy lunch options so you can 
					“Eat What’s Sweet”... guilt-free!
				</div>
			</div>  
			<div id="divider"></div> 
			<div class="menu_choices">
				<h2>Featured Menu:</h2>
					<ul> 
						<li> 
							<div class="dish_title">
								Sushi Platter
							</div>
							<div class="dish_image"> 
								<img src="/images/sushi.png" alt="" >
							</div> 
							<div class="menu_divider"></div>
							<div class="dish_description">
								<i>You get both (12 pc total):</i><br>
								<strong>1.</strong> Choice of one 6pc roll: California Roll, Salmon Roll, Tuna Roll, Spicy Yellowtail Roll, Salmon Avocado Roll, Avocado Roll <br>
								<strong>-AND-</strong><br>
								<strong>2.</strong> 6 pc assorted delicious nigiri (sushi-grade fish over rice) including fresh Kosher salmon and yellowtail tuna.<br>  
							</div>
						</li>
						<li>
							<div class="dish_title">
								Full Sandwich & Soup
							</div>
							<div class="dish_image">
								<img src="/images/sand-soup.png" alt="" >
							</div>  
							<div class="menu_divider"></div>
							<div class="dish_description">
								Your choice of:<br>
								<strong>1.</strong> Grilled Portobello, Roasted Peppers, Feta Cheese, Baby Spinach With Pesto Sauce On Foccacia Bread<br> <strong>-OR-</strong><br>      
								<strong>2.</strong> Marinated Roasted Eggplant, Avocado, Eggplant, roasted tomatoes with sundried tomato dressing on  an onion baguette.<br><br>
								Each comes with choice of Lentil Tomato or Homemade Vegetable soup
							</div>
						</li>
						<li> 
							<div class="dish_title">
								Fresh Salad & Bagel
							</div>
							<div class="dish_image">
								<img src="/images/salad_bagel.png" alt="" >
							</div>
							<div class="menu_divider"></div> 
							<div class="dish_description">
								<i>You get both:</i><br>
								<strong>1.</strong> Choice of 10 types of bagels and 5 flavored cream cheeses PLUS optional fresh sliced salmon (We recommend trying this!)<br>
								<strong>-AND-</strong><br>
								<strong>2.</strong> Fresh, crisp romaine  lettuce w/ your choice of 20+ toppings.<br> 
								Tossed with your choice of 10 house dressings.
							</div>
						</li>
					</ul>
			</div>
		</div>
	</div>  
</body> 


</html>
	       
	
	
	<!--  -->
