<!DOCTYPE html>
<head>  
	<title>LunchBox - Explore the vast food selection that New York City has to offer -- right from your desk.</title>   
	<%= stylesheet_link_tag  "landing" %>
  <%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
</head> 
<body> 
	<div id="container">
		<div class="header">
				<div class="image_block">
					<a href='#'><img src="/images/landing_logo.png"></a>   
				</div> 
		</div>  
		<div class="signup_module">
			Signup Module Goes here
		</div>
	</div> 
</body>
</html>