<form id='signup_form' method='post' action="/signup">
	<p id='error_message'></p>
	<table>
		<tr>
			<td>
				<label for='email'>Email:</label>
			</td>
			<td>
				<input type='text' name='signup[email]' id='email' />
			</td>
			<td>
				<input class='red incr_counter' type='submit' name='submit' id='submit' value='Start learning!' />
			</td>
		</tr>
	</table>
</form>